import { compose } from 'recompose'
import { connect } from 'react-redux'

import {{properCase name }}View from './{{properCase name }}View'

export default compose(
  connect(
    state => ({}),
    dispatch => ({}),
  ),
)({{properCase name }}View)
