// ------------------------------------
// Constant
// ------------------------------------
export const ACTION = '{{properCase name }}State/ACTION'

// ------------------------------------
// Action
// ------------------------------------
export function actionCreator() {
  return (dispatch, state) => {
    dispatch({ type: ACTION })
  }
}

// ------------------------------------
// Reducer
// ------------------------------------
const ACTION_HANDLERS = {
  [ACTION]: (state, action) => ({
    ...state,
  }),
}
const initialState = {

}
export default function {{properCase name }}Reducer (state = initialState, action) {
  const handler = ACTION_HANDLERS[action.type]
  return handler ? handler(state, action) : state
}
